<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
    <div class="layui-form-item">        
        <div class="layui-input-block"> 用户账号 : {$vo.username} </div>
        <div class="layui-input-block"> 联系手机 : {$vo.phone|default=""}</div>
        <div class="layui-input-block"> 联系邮箱 : {$vo.phone|default=""}</div>
        <div class="layui-input-block"> 积分 : {$vo.points|default="0"}</div>
        <div class="layui-input-block"> 说明 : {$vo.desc|default=""}</div>
        <div class="layui-input-block"> 登录次数 : {$vo.login_num}</div>
        <div class="layui-input-block"> 最后登录 : {$vo.login_at}</div>
    </div>
    <div class="hr-line-dashed"></div>
    <script>window.form.render();</script>
</form>
